@use './style/base/colors' as c;
@use './style/base/variables' as v;
@use './style/base/layouts';

@use './style/blocks/containers';
@use './style/blocks/navigation';
@use './style/blocks/landing';
@use './style/blocks/skills';
@use './style/blocks/drawing';

body {
    background-color: v.$color-bg;
    color: v.$color-text;
    font-family: v.$font-secondary;
    margin: 0;
    padding: 0;
}

.section {
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

// body,
// html {
//     overflow: visible;
//     height: auto;
// }