.container {
    display: flex;

    &__nav {
        justify-content: flex-end;
        padding: 10px;
    }

    &__link {
        justify-content: center;
        padding: 10px;
    }

    &__title {
        justify-content: flex-start;
    }

    &__heading {
        justify-content: center;
    }

    &--row {
        flex-direction: row;
    }

    &--column {
        flex-direction: column;
    }

    &__content {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}