@use "./colors" as c;

.container {
    &__landing {
        background-color: c.$background-light;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 20%;
        width: 90%;
        padding-bottom: 10px;
    }

    &--small {
        width: 90%;
        justify-content: center;
    }
}