@use 'sass:color';
@use '../base/variables' as *;
@use "../base/colors" as c;

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    &--row {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &--column {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &--centered {
        margin: 0 auto;
    }

    &--padded {
        padding: 2rem;
    }

    &--heading {
        font-family: $font-primary;
        font-size: 2rem;
        color: $color-accent;
        text-align: center;
        margin-bottom: 1rem;
    }

    &--item {
        background-color: color.adjust($color-accent, $lightness: 10%);
        padding: 1rem;
        border-radius: $border-radius;
        color: $color-text;
    }

    &--canvas {
        padding: 1rem;
        border-radius: $border-radius;
        color: $color-text;
    }
}