@use "../base/colors" as c;

.container {
    &__landing {
        justify-content: flex-start;
        padding-left: 20%;
        width: 90%;
    }

    &--small {
        width: 90%;
        justify-content: center;
    }
}