@use "../base/colors" as c;
@use '../base/variables' as *;
@use '../base/layouts' as *;

#navigation {
    background-color: $color-bg;
    position: sticky;
    top: 0;
    z-index: 1000;

    .nav-inner {
        @extend .layout-constrained;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    a {
        color: $color-text;
        text-decoration: none;
        font-family: $font-secondary;
        transition: $transition-fast;

        &:hover {
            color: $color-accent;
        }
    }
}